* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin-top: 30px;
	color: #999;
}
#block {
	width: 800px;
	height: 800px;
	border: 1px solid #000;
	margin: 0 auto;
	padding: 15px;
}
.tabs {
	width: 600px;
	height: 350px;
	margin: 50px auto;
}
.tab-h {
	display: inline-block;
	padding: 0 15px;
	border: 1px solid #999;
	border-bottom: 1px solid #000;
	text-align: center;
	cursor: pointer;
	color: #999;
}
.tab-b {
	display: none;
	padding: 15px;
	border: 1px solid #000;
}
.tabs-header{
	position: relative;
	z-index: 2;
}
.tabs-body {
	position: relative;
	top: -1px;
	z-index: 1;
}
.active {
	border: 1px solid #000;
	border-bottom: 1px solid #fff;
	color: #000;
}