* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin-top: 30px;
	color: #777;
}
#todo_list {
	width: 800px;
	height: 800px;
	border: 1px solid #ccc;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
}
#text_note {
	border: 1px solid #ccc;
	width: 100%;
	padding: 5px;
	font-family: Tahoma;
    font-size: 14px;
    letter-spacing: 1px;
}
#btn-add {
	margin: 15px auto;
	padding: 5px 20px;
	border: 1px solid #ccc;
	cursor: pointer;
}
#note_block {
	position: relative;
	display: block;
	float: left;
	width: 200px;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px;
	text-align: left;
}