* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin-top: 30px;
	color: #999;
}
#block {
	width: 800px;
	height: 800px;
	border: 1px solid #000;
	margin: 0 auto;
	padding: 15px;
	font-size: 20px;
}
#out {
	width: 150px;
	height: 150px;
	background-color: orange;
}